<section id="inloggen" class="view" hidden>
    <form class="beheer-formulier inlog-formulier" id="inlog-formulier">
        <h1 class="pagina-titel">Inloggen</h1>
        <p class="melding fout" id="inlog-fout" role="alert" hidden></p>
        <label for="gebruikersnaam">Gebruikersnaam</label>
        <input id="gebruikersnaam" name="gebruikersnaam" autocomplete="username" required>
        <label for="wachtwoord">Wachtwoord</label>
        <input id="wachtwoord" name="wachtwoord" type="password" autocomplete="current-password" required>
        <button type="submit" class="knop" id="inlog-knop">Inloggen</button>
    </form>
</section>
