<section id="inloggen" class="view" hidden>
    <form class="inlog-formulier" id="inlog-formulier">
        <h1 class="pagina-titel">Inloggen</h1>
        <p class="flash fout" id="inlog-fout" role="alert" hidden></p>
        <label for="username">Gebruikersnaam</label>
        <input id="username" name="username" autocomplete="username" required>
        <label for="password">Wachtwoord</label>
        <input id="password" name="password" type="password" autocomplete="current-password" required>
        <button type="submit" class="action-button" id="inlog-knop">Inloggen</button>
    </form>
</section>
