<section id="installatie" class="view" hidden>
    <form class="beheer-formulier smal-formulier" id="installatie-formulier">
        <h1 class="pagina-titel">Welkom bij MiniPol</h1>
        <p class="uitleg">Je bent ingelogd met admin/admin. Maak eerst je eigen account: de eerste superbeheerder. Daarna werkt admin/admin niet meer.</p>
        <p class="melding fout" id="installatie-fout" role="alert" hidden></p>
        <div class="velden" id="installatie-velden"></div>
        <button type="submit" class="knop" id="installatie-knop">Superbeheerder maken</button>
    </form>
</section>
